.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: sans-serif;
  margin-top: 50px;
}

.home h1 {
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 50px;
  color: #d0cac0;
}

.enter-your-name {
  font-size: 1.5rem;
  margin-bottom: 20px;
  color: #d0cac0;
}

.name-input {
  padding: 15px;
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #bbb;
  margin-bottom: 50px;
}

.name-input:focus {
  outline: none;
  border-bottom: 2px solid #000;
}

.room-btn {
  display: block;
  margin-bottom: 20px;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
  background-color: #0074d9;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.room-btn:hover {
  background-color: #0063a6;
}

.room-btn:focus {
  outline: none;
}

.show {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.room-btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.error {
  color: red;
  font-size: 1.5rem;
  margin-bottom: 20px;
  text-align: center;
}
