/* styles for game container */
.game {
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
  width: 100%;
  max-width: 600px;
}

.roomid {
  color: #d0cac0;
  font-size: bold;
}

h2 {
  font-size: 2.5rem;
  margin-bottom: 0;
  color: #d0cac0;
}

/* styles for score */
.score {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  margin-bottom: 1.5rem;
  width: 100%;
  max-width: 300px;
}

.myscore {
  color: #d0cac0;
  font-size: bold;
}

.opponentscore {
  color: #d0cac0;
  font-size: bold;
}

/* styles for winner */
.winner {
  background-color: #e8f0fe;
  margin-bottom: 20px;
  border-radius: 5px;
  width: 100%;
}

/* styles for the grid container */
.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  width: 280px;
  height: 280px;
  border: 2px solid #333;
  border-radius: 5px;
}

/* styles for each grid item */
.grid-item {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #333;
  cursor: pointer;
  background-color: #fff;
  transition: background-color 0.3s ease;
}

.grid-item:hover {
  background-color: #f5f5f5;
}

/* styles for grid items with a hover effect */
.grid-item-hover {
  background-color: #f5f5f5;
}

/* styles for grid items with a bottom border */
.bottom {
  border-bottom: 2px solid #333;
}

/* styles for grid items with a right border */
.right {
  border-right: 2px solid #333;
}

/* styles for loading */
.loading {
  width: 280px;
  height: 280px;
  top: 6%;
  background: #61dafb00;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: #94a6bb;
  /* border: 1px solid red; */
}

/* styles for game end */
.gameEnd {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
  font-weight: bold;
  height: 100vh;
}

/* styles for room button */
.roomBtn {
  margin: 1rem;
  padding: 0.5rem 1rem;
  background-color: #2e69ff;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.roomBtn:hover {
  background-color: #1d55e9;
}
